body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.Typewriter {
  display: inline;
  color: #49b3ff;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* ::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */

/* ::-webkit-scrollbar-track {
  background: #f80155;
}

::-webkit-scrollbar-thumb {
  background: #009ddbfa;
  border-radius: 5px;
} */
